.sidebar_section{
    height: 100vh;
    flex: 0 1 auto;
}

.sidebar{
    display: flex;
    height: 100%; 
    min-width: 210px;
    padding: 1.25rem 1.5rem;
    overflow-y: scroll;
    flex-direction: column;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-style: solid;
    border-color: #e5e7eb;
}

.sidebar_home{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.25rem;
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

@media screen and (max-width: 650px){
    .sidebar{
        display: none;
    }
}