.app{
    display: flex;
    justify-content: center;
}
.app_wrapper {
    display: flex;
    align-items: flex-start;
  }
  
.app_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    overflow-y:scroll;
    flex: 1 1;
    height: 100vh;
}
  

